---

---

@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

$brand-dark-blue : #283648;
$brand-light-blue : #5098c5;
$brand-red : #e74a5d;
$brand-gray : #d1d5dd;
$brand-green: #339933;

$brand-blue-lighter : lighten($brand-light-blue,20);
$brand-red-lighter : lighten($brand-red,20);
$brand-gray-lighter : lighten($brand-gray,10);
$blue-lightest : lighten($brand-blue-lighter,15);

$white : #fff;
$gray-lightest : #fafafa;

$spacer : 3rem;

@mixin cta($c) {
  color:$c;
  border:2px solid $c;
  padding:$spacer/3;
  display: inline-block;
  border-radius: 4px;
  &:hover,&:focus {
    color:$white;
    background: $c;
    text-decoration: none;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x:hidden; // dirty fix
}

a {
  color:$brand-light-blue;
}

h1,h2,h3,h4,h5 {
  font-weight: 900;
}

h1 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1.5rem;
}

header {
  height:400px;
  max-height: 40vh;
  background: url("../images/tku.jpeg") no-repeat;
  background-size:cover;
  background-position: 0 ;
  border-top:3px solid $brand-red;

    .header-txt {
      color:$brand-blue-lighter;
      text-align: center;
      height: 100%;
      .logo {
        height: 100%;
        img {
          height: 100%;
        }
      }
  }

}

.content {
  @extend .section;
  text-align: center;
  background: $gray-lightest;
  font-size: 1.5rem;
  border-bottom:1px solid $brand-gray;
}

.join {
  @extend .section;
  .member {
    color:$brand-red;
    margin-bottom:$spacer;
    .cta {
      @include cta($brand-red);
    }
  }
  .business {
    color:$brand-light-blue;
    .cta {
      @include cta($brand-light-blue);
    }
  }
}

.social {
  @extend .section;
  text-align: center;
  color:$white;
  background: $brand-dark-blue;
  fill: $white;
  span {
    display: inline-block;
    width:50px;
    margin:2rem;
    a:hover {
      opacity: 0.8;
    }
  }
  svg {
    fill: $white;
  }
  a {
    color: $white;
  }
}

.icons {
  a:hover {
    opacity: 0.8;
  }
}

.events {
  @extend .section;
  color:$brand-dark-blue;
  h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.25rem;
  }
  .upcoming-manual {
    img {
      width: 100%;
    }
  }
}

.team {
  @extend .section;

  h1 {
    text-align: center;
  }

  .organizer {
    margin: auto;
    text-align: center;

    h4 {
      font-weight: 300;
    }

    img {
      padding: $spacer;
      width: 100%;
      border-radius: 50%;
    }

    .job-title {
      padding: 10px 0;
    }

    .icons {
      padding: 10px 0;
      a:hover, a:focus {
        text-decoration: none;
      }
    }
  }
}

.who {
  @extend .section;

  .cta-container {
    padding: $spacer/2 0;
  }

  p {
    text-align: justify;
  }

  .developer {
    color: $brand-red;
    .cta {
      @include cta($brand-red);
    }
  }

  .company {
    color: $brand-light-blue;
    .cta {
      @include cta($brand-light-blue);
    }
  }

  .student {
    color: $brand-green;
    .cta {
      @include cta($brand-green);
    }
  }

}

.partners {
  padding: $spacer;

  h1 {
    text-align: center;
  }

  .logo-container {
    max-height: 200px;
    text-align: center;
    img {
      max-width: 150px;
      width: 100%
    }
  }
}

.speaker {

  img {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #283648;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: default;
  }
}


.speaker:hover {
 .overlay {
   opacity: 0.8;
 }
}


.footer {
  @extend .section;
  background: $brand-dark-blue;
}


// helpers

.section {
  padding:$spacer+0.5 0;
}

.vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

}
