<div class="row events">
    <div class="container">
        <div class="col-sm-4">
            <h3>Upcoming events</h3>
            <div class="upcoming"></div>
            <div class="upcoming-manual">
              <a href="https://meetabit.com/events/turku-3-frontend-april-meetup-with-houston-inc" alt="Advertisement for April meetup with Joonas Salovaara and Otso Lahti, hosted by Houston Inc on April 18th 2018">
                <img src="images/april-meetup-2018.png" alt="">
              </a>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Past events</h3>
            <div class="past"></div>
        </div>
        <div class="col-sm-4">
            <h3>Latest blog posts</h3>
            <div class="blog"></div>
        </div>
    </div>
</div>
