<div class="row events">
  <div class="container">
    <div class="col-sm-12">
      <h1>Fall 2021</h1>

      <ul class="upcoming-events">
        <li>
          <a
            href="https://meetabit.com/events/turku-3-frontend-october-meetup-with-lyyti"
            >27.10. @ Lyyti</a
          >
        </li>
        <li>
          <a
            href="https://meetabit.com/events/turku-3-frontend-november-meetup-with-anders"
            >24.11. @ Anders</a
          >
        </li>
        <li>15.12. @ Vincit</li>
      </ul>
    </div>
  </div>
</div>
