<div class="row events">
    <div class="container">
        <div class="col-sm-3">
            <h3>Latest blog posts</h3>
            <div class="blog"></div>
        </div>
        <div class="col-sm-3">
            <h3>Past events</h3>
            <div class="past"></div>
        </div>
        <div class="col-sm-6">
            <h3>Upcoming events</h3>
            <div class="upcoming"></div>
            <div class="upcoming-manual">
              <a href="https://meetabit.com/events/turku-3-frontend-may-meetup-with-vaadin" alt="Advertisement for May meetup with Juho Nurminen and Margarita Obraztsova, hosted by Vaadin on May 23rd 2018">
                <img src="images/turkulovesfrontend-may2018-ad.png" alt="">
              </a>
            </div>
        </div>
    </div>
</div>
