<div class="row join">
    <div class="container">
        <div class="col-md-6 member">
            <h1>260+</h1>
            <h2>community members</h2>
            <p>Join the Facebook group</p>
            <div>
                <a href="https://www.facebook.com/groups/turkufrontend/" class="cta">Join Group</a>
            </div>
        </div>
        <div class="col-md-6 business">
            <h1>ALL THE HOTTEST</h1>
            <h2>tech companies in Turku</h2>
            <p>Host a developer event</p>
            <div>
                <a href="mailto:info@turkufrontend.fi" class="cta">Host Event</a>
            </div>
        </div>
    </div>
</div>