<div class="row partners">
    <div class="container">
        <div class="col-sm-12">
            <h1>We are working with</h1>
            <div class="logos">
            <div class="row">
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/arado.png" alt="Arado's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/atr.png" alt="ATR's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/houston.png" alt="Houston's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/lyyti.png" alt="Lyyti's logo">
              </div>
            </div>
            <div class="row">
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/poutapilvi.png" alt="Poutapilvi's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/reaktor.png" alt="Reaktor's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/sofokus.png" alt="Sofokus' logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/taiste.png" alt="Taiste's logo">
              </div>
            </div>
            <div class="row">
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/vaadin.png" alt="Vaadin's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/vincit.png" alt="Vincit's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/walkbase.png" alt="Walkbase's logo">
              </div>
              <div class="logo-container col-sm-3">
                <img src="images/sponsors/wunder.png" alt="Wunder's logo">
              </div>
            </div>
          </div>

        </div>

        </div>

    </div>
</div>
