<div class="row partners">
  <div class="container">
    <div class="col-sm-12">
      <h1>We are working with</h1>
      <div class="logos">
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="http://www.ambientia.fi">
              <img src="images/sponsors/ambientia.png" alt="Ambientia's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="http://www.anders.fi">
              <img src="images/sponsors/anders.png" alt="Anders's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="http://www.arado.fi/">
              <img src="images/sponsors/arado.png" alt="Arado's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="http://www.atrsoft.com/">
              <img src="images/sponsors/atr.png" alt="ATR's logo" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="https://www.click2contract.com/en/">
              <img
                src="images/sponsors/click2contract.png"
                alt="Click2Contract's logo"
              />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://gofore.fi">
              <img src="images/sponsors/gofore.png" alt="Gofore's logo" />
            </a>
          </div>

          <div class="logo-container col-sm-3">
            <a href="https://www.houston-inc.com/">
              <img src="images/sponsors/houston.png" alt="Houston's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://identio.fi">
              <img src="images/sponsors/identio.png" alt="Identio's logo" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="https://lyyti.fi">
              <img src="images/sponsors/lyyti.png" alt="Lyyti's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://mavericks.fi/">
              <img src="images/sponsors/mavericks.png" alt="Mavericks's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://www.poutapilvi.fi/">
              <img
                src="images/sponsors/poutapilvi.png"
                alt="Poutapilvi's logo"
              />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://www.qalmari.fi/">
              <img src="images/sponsors/qalmari.png" alt="Qalmari's logo" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="https://www.reaktor.com/">
              <img src="images/sponsors/reaktor.png" alt="Reaktor's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://www.sofokus.com/">
              <img src="images/sponsors/sofokus.png" alt="Sofokus' logo" />
            </a>
          </div>

          <div class="logo-container col-sm-3">
            <a href="https://solita.fi">
              <img src="images/sponsors/solita.png" alt="Solita's logo" />
            </a>
          </div>

          <div class="logo-container col-sm-3">
            <a href="https://www.taiste.fi/">
              <img src="images/sponsors/taiste.png" alt="Taiste's logo" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="https://vaadin.com/">
              <img src="images/sponsors/vaadin.png" alt="Vaadin's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://vincit.fi/">
              <img src="images/sponsors/vincit.png" alt="Vincit's logo" />
            </a>
          </div>

          <div class="logo-container col-sm-3">
            <a href="https://www.walkbase.com/">
              <img src="images/sponsors/walkbase.png" alt="Walkbase's logo" />
            </a>
          </div>
          <div class="logo-container col-sm-3">
            <a href="https://wunder.io/">
              <img src="images/sponsors/wunder.png" alt="Wunder's logo" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="logo-container col-sm-3">
            <a href="https://valohai.com">
              <img src="images/sponsors/valohai.png" alt="Valohai's logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
