<div class="row speakers partners">
    <div class="container">
        <div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/aarni-koskela.png">
            <div class="overlay">
                <div class="text">Aarni Koskela</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/aki-salmi.png">
            <div class="overlay">
                <div class="text">Aki Salmi</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/anssi-kinnunen.png">
            <div class="overlay">
                <div class="text">Anssi Kinnunen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/eemeli-aro.png">
            <div class="overlay">
                <div class="text">Eemeli Aro</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/eero-makela.png">
            <div class="overlay">
                <div class="text">Eero Mäkelä</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/henri-kauppinen.png">
            <div class="overlay">
                <div class="text">Henri Kauppinen</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/henrik-lehtonen.png">
            <div class="overlay">
                <div class="text">Henrik Lehtonen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/james-stone.png">
            <div class="overlay">
                <div class="text">James Stone</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/joni-juup.png">
            <div class="overlay">
                <div class="text">Joni Juup</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/joona-lehikoinen.png">
            <div class="overlay">
                <div class="text">Joona Lehikoinen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/joona-rahko.png">
            <div class="overlay">
                <div class="text">Joona Rahko</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/joonas-salovaara.png">
            <div class="overlay">
                <div class="text">Joonas Salovaara</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/jouni-koivuviita.png">
            <div class="overlay">
                <div class="text">Jouni Koivuviita</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/juha-matti-santala.png">
            <div class="overlay">
                <div class="text">Juha-Matti Santala</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/juho-nurminen.png">
            <div class="overlay">
                <div class="text">Juho Nurminen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/jukka-roihuvaara.png">
            <div class="overlay">
                <div class="text">Jukka Roihuvaara</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/jussi-nieminen.png">
            <div class="overlay">
                <div class="text">Jussi Nieminen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/kari-soderholm.png">
            <div class="overlay">
                <div class="text">Kari Söderholm</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/margarita-obraztsova.png">
            <div class="overlay">
                <div class="text">Margarita Obraztsova</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/marlon-richert.png">
            <div class="overlay">
                <div class="text">Marlon Richert</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/mathias-fredriksson.png">
            <div class="overlay">
                <div class="text">Mathias Fredriksson</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/matthew-fontana.png">
            <div class="overlay">
                <div class="text">Matthew Fontana</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/mikko-harju.png">
            <div class="overlay">
                <div class="text">Mikko Harju</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/mikko-junnila.png">
            <div class="overlay">
                <div class="text">Mikko Junnila</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/niklas-narhinen.png">
            <div class="overlay">
                <div class="text">Niklas Närhinen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/niko-myllynen.png">
            <div class="overlay">
                <div class="text">Niko Myllynen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/niko-salminen.png">
            <div class="overlay">
                <div class="text">Niko Salminen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/oleg-podsechin.png">
            <div class="overlay">
                <div class="text">Oleg Podsechin</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/otso-lahti.png">
            <div class="overlay">
                <div class="text">Otso Lahti</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/otto-chrons.png">
            <div class="overlay">
                <div class="text">Otto Chrons</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/otto-hilska.png">
            <div class="overlay">
                <div class="text">Otto Hilska</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/pyry-liukas.png">
            <div class="overlay">
                <div class="text">Pyry Liukas</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/richard-van-camp.png">
            <div class="overlay">
                <div class="text">Richard Van Camp</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/roope-merikukka.png">
            <div class="overlay">
                <div class="text">Roope Merikukka</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/sami-nieminen.png">
            <div class="overlay">
                <div class="text">Sami Nieminen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/sami-suo-heikki.png">
            <div class="overlay">
                <div class="text">Sami Suo-Heikki</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/satu-peltola.png">
            <div class="overlay">
                <div class="text">Satu Peltola</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/teemu-pontelin.png">
            <div class="overlay">
                <div class="text">Teemu Pöntelin</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/teemu-tiilikainen.png">
            <div class="overlay">
                <div class="text">Teemu Tiilikainen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/timo-korkalainen.png">
            <div class="overlay">
                <div class="text">Timo Korkalainen</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/varya-stepanova.png">
            <div class="overlay">
                <div class="text">Varya Stepanova</div>
            </div>
        </div>

        <div class="col-sm-2 speaker">
            <img src="images/speakers/viktor-lukashov.png">
            <div class="overlay">
                <div class="text">Viktor Lukashov</div>
            </div>
        </div>
</div>
<div class="row speaker-row">

        <div class="col-sm-2 speaker">
            <img src="images/speakers/vladimir-kovtun.png">
            <div class="overlay">
                <div class="text">Vladimir Kovtun</div>
            </div>
        </div>
</div>

    </div>
  </div>
