<div class="row who">
    <div class="container">
        <div class="col-md-4 developer">
            <h1>Developers</h1>
            <!-- <h2>developers</h2> -->
            <p>
              Learn from your peers: our meetups are organized by developers for developers - no marketing BS.
            </p>
            <p>
              Meeting fellow developers is a great way to share experiences and best practices and meeting the best employers in the area provides you with better career opportunities.
            </p>

            <div class="cta-container">
                <a href="https://meetabit.com/communities/turku-3-frontend" class="cta">Register in Meetabit</a>
            </div>
        </div>
        <div class="col-md-4 company">
            <h1>Companies</h1>
            <!-- <h2>companies</h2> -->
            <p>
              We bring the top talent to your office. Show your appreciation and respect for developers and hire the top people in the area.
            </p>
            <p>
              We do the heavy lifting: marketing, speakers, registration. All you need to do is open your doors and provide our talent with something to eat and drink while they learn.
            </p>
            <div class="cta-container">
                <a href="mailto:juhis@turkufrontend.fi?subject=Hosting%20a%20Turku%20Frontend%20meetup" class="cta">Host a meetup</a>
            </div>

        </div>
        <div class="col-md-4 student">
            <h1>Students</h1>
            <!-- <h2>of software</h2> -->
            <p>
              There is no better way to build relationships with people in the industry than being active in meetups. You get to learn all about the newest technologies and tools professionals use and meet your future colleagues and employers.
            </p>
            <p>
              Landing your first job as a developer doesn't become easier than this.
            </p>
            <div class="cta-container">
                <a href="https://meetabit.com/communities/turku-3-frontend" class="cta">Register in Meetabit</a>
            </div>
        </div>
    </div>
</div>
